.card-text{font-family: 'SUIT-Medium';}
.card-title{font-family: 'SUIT-Medium';}
@font-face {
font-family: 'SUIT-Medium';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}
